@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");

:root {
    /*--primary-color: rgb(5, 238, 21);*/
    --primary-color: rgb(240, 26, 36);
    --secondary-color: #000;
    --text-color: #fff;
    --text-muted-color: #aaa;
    --background-color: #111;
    --highlight-color: #fff;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

body {
    background: var(--secondary-color);
}

section {
    padding: 5rem 9%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 10000;
    background: var(--secondary-color);
}

.header .logo {
    font-weight: bolder;
    color: var(--text-color);
    font-size: 3rem;
}

.header .logo span {
    color: var(--primary-color);
}

.header .navbar a {
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    color: var(--text-color);
}

.header .navbar a:hover {
    background: var(--primary-color);
}

#menu-btn {
    font-size: 3rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
        scroll-padding: 7rem;
    }
    .header {
        padding: 0 2rem;
    }

    section {
        padding: 3rem 2rem;
    }

}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header {
        padding: 2rem;
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: var(--secondary-color);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        display: block;
        font-size: 2rem;
    }

    .about {
        gap: 3rem;
    }

    .about .image {
        margin-top: 5rem;
    }

    .about .content .title {
        font-size: 3rem;
    }

    .features .box-container .box.second {
        flex-flow: column;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}
